/* 
primary: #F5F0BB
secundary: #C4DFAA
light: #90C8AC
info: #73A9AD
*/
.text-light
{
    color:#90C8AC;
}
.bg-primary
{
    background-color: #F5F0BB;
}
.text-center{
    text-align: center;
}
.text-secondary{
    color:#C4DFAA;
}
.width-100{
    width: 100px;
}
.bg-info{
    background-color: rgb(38, 240, 240);
}
.text-primary{
    color: #F5F0BB;
}
.text-while{
    color: white;
}